<div class="table-container">
  <div class="filters-container">
    <app-tags-filter (filterTag)="filterTag($event)" [active]="selected==='sold'" key="sold" name="Vendidos"></app-tags-filter>
    <app-tags-filter (filterTag)="filterTag($event)" [active]="selected==='notSold'" key="notSold" name="Não vendidos"></app-tags-filter>
    <app-tags-filter (filterTag)="filterTag($event)" [active]="selected==='paidOut'" key="paidOut" name="Pagos"></app-tags-filter>
    <app-tags-filter (filterTag)="filterTag($event)" [active]="selected==='notPaidOut'" key="notPaidOut" name="Não Pagos"></app-tags-filter>
    <app-tags-filter (filterTag)="filterTag($event)" [active]="selected==='parcial'" key="parcial" name="Parcial"></app-tags-filter>
  </div>
  <app-search (searchText)="filterTable($event)" [dataCount]="count" [dataCountFilter]="countFilter" [selectedCount]="selectedCount" [selectedResult]="selectResult" ></app-search>
  <table>
    <tbody>
      <tr [class.selected]="getSelect(item)" *ngFor="let item of itemList">
        <td class="td-select">
           <input class="form-check-input" [checked]="getSelect(item)" (click)="selectItem(item)" type="checkbox" id="checkboxNoLabel">
        </td>
        <td (click)="editItem(item)">{{item.name}}</td>
        <td (click)="editItem(item)">{{item.price | currency: 'BRL': 'symbol'}}</td>
        <td (click)="editItem(item)"
        [class.GREEN]="getTypeValue(item, 'GREEN')"
        [class.RED]="getTypeValue(item, 'RED')"
        [class.YELLOW]="getTypeValue(item, 'YELLOW')"
        >
            {{item.typeValue }}
        </td>
        <td  (click)="editItem(item)" class="td-date" *ngIf="!isMob">{{item.date}}</td>
      </tr>
    </tbody>
  </table>
</div>
